@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

@font-face{
    font-family: 'Austein';
    src: url('./assets/fonts/Austein/Austein.woff2') format('woff2'),
    url('./assets/fonts/Austein/Austein-Script.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    color: blue;
}

h1{
    font-family: 'Poppins', cursive;
}
