@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap'); /*import Poppins font*/

/*import Austein font*/
@font-face {
    font-family: 'Austein';
    src: url('./assets/fonts/Austein/Austein.woff2') format('woff2'),
    url('./assets/fonts/Austein/Austein-Script.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*Table of contents
    1. Global Styles
    2. Reusables
    3. Typography
    4. Layout
    5. Areas
     5.1. Header
     5.2. Main index
     5.3. Main recipe
     5.4. Main calculator
     5.5. Footer
    6. Animations
    7. Media Queries  */

/*----------------1. Global Styles -------------------------------------------------------*/

:root {
    --darkblue: #283E53; /*charcoal*/
    --lightblue: #5C8A95; /*steel teal*/
    --lightgrey: #F3F3F3; /*cultured*/
    --font-size1: 10px; /*different sizes for the site*/
    --font-size2: 14px;
    --font-size3: 24px;
    --font-size4: 30px;
}

body {
    font-family: Poppins, "Roboto Light", sans-serif;
}

/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------------2. Reusables -----------------------------------------------------------*/

/*all links stay the same color*/
a,
a:visited,
a:link {
    text-decoration: none;
    color: var(--darkblue);
    text-transform: capitalize;
}

/*style button here*/
button {
    font-size: var(--font-size2);
    text-transform: capitalize;
    text-align: left;
    color: var(--darkblue);
    background-color: var(--lightblue);
    border: 1px solid var(--darkblue);
    border-radius: 5px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-image: url("./assets/icons/thin-arrow-right.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 90%;
    padding-right: 40px;
    cursor: pointer;
}

/*the only button with icon on the left*/
#servings-button {
    padding-left: 40px;
    padding-right: 15px;
    background-image: url("./assets/icons/plus-line.png");
    background-position: left;
    background-position-x: 10%;
}

button a {
    color: var(--darkblue);
}

/*style all inputs here*/
select,
input {
    font-size: var(--font-size2);
    border-radius: 5px;
    border: 1px solid var(--darkblue);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 45px;
    appearance: none;
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position: 95%;
}

input:not(#servings-field) {
    background-image: url("./assets/icons/search.png");
}

/*add own icon to place it more off the border to make it more like screen design*/
select {
    background-image: url("./assets/icons/chevron-down.png");
    background-size: 15px 15px;
}

/*more off the border*/
input::placeholder {
    padding-left: 5px;
}

a:hover,
button:hover {
    cursor: pointer;
}

.error {
    color: red;
}

/*----------------3. Typography ----------------------------------------------------------*/

/*the logo is always an h2 and the only h2 one on the page*/
h2 {
    font-family: "Austein", "Lucida Handwriting", cursive;
    text-transform: capitalize;
    font-style: italic;
    color: var(--darkblue);
}

h1,
h3,
h4,
h5,
h6 {
    font-family: Poppins, "Roboto Light", sans-serif;
    text-transform: capitalize;
    color: var(--darkblue);
}

/*----------------4. Layout --------------------------------------------------------------*/

/*all outer containers are flex with direction row*/
main,
header,
footer,
.outer-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*if flex direction column is needed use this class*/
.inner-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 40px;
    padding: 100px 50px;
    margin-top: 50px;
}

/*----------------5. Areas ---------------------------------------------------------------*/
/*----------------5.1. Header ------------------------------------------------------------*/

/*start with complete fill of the screen, with an other class the header turns into a normal header as a page transition animation*/
header {
    background-color: white;
    position: fixed;
    height: 100%;
    z-index: 1000;
    opacity: 1;
    transition: height 2s ease-in-out;
}

/*the nav bar has a steps animation to make the page transition animation more fluid*/
.header-nav {
    flex-basis: 100%;
    padding: 15px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transform: scaleY(1%);
    transition: all 2s steps(3, jump-both);
}

header h1 {
    flex-basis: 200px;
}

nav {
    flex-basis: 300px;
}

nav > ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*----------------5.2. Main index --------------------------------------------------------*/

/*inner container has padding, but that is not needed here*/
#main-homepage {
    padding: 0;
}

#main-background-image {
    background-image: url("./assets/images/hero-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main-hero {
    flex-basis: 1400px;
    padding: 100px 50px;
    margin-top: 70px;
    margin-bottom: 70px;
    font-size: var(--font-size3);
}

.main-hero h1,
.main-hero h5 {
    color: var(--lightgrey);
    margin-bottom: 20px;

}

.main-hero h5 {
    font-size: var(--font-size4);
    font-weight: 100;
}

.main-hero button {
    width: 200px;
}

/*this is the styling for mobile*/
.main-result,
.main-carousel {
    flex-basis: 1400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-inline: 50px;
    flex-wrap: wrap;
    gap: 20px;
}

.main-result {
    padding: 50px 50px;
}

/*this is the styling for mobile*/
.main-carousel-card,
.main-result-card {
    background-color: var(--lightgrey);
    z-index: 200; /*high z-index so it can move over hero image*/
    flex-basis: 350px;
    border-radius: 1%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.16);;
}

.main-carousel-card > a > img,
.main-carousel-card h4,
.main-result-card > a > img,
.main-result-card h4 {
    display: block; /*this is so every element will go under the next in the card*/
    width: 100%;
    height: auto;
    margin: 0 auto;
    cursor: pointer;
}

.main-carousel-card h4,
.main-result-card h4 {
    height: 25px;
    padding: 0 10px;
    margin-top: 10px;
    overflow: hidden; /*second and third line of text will not be shown*/
}

.main-carousel-card > a > img,
.main-result-card > a > img {
    border-radius: 1% 1% 0 0;
    object-fit: cover;
    position: center; /*this makes the pictures look slightly better*/
    height: 200px;
}

/*calories and prep time need space between, so we placed a div around the two paragraphs*/
.main-carousel-card > div,
.main-result-card > div {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-carousel-card > div p,
.main-result-card > div p {
    font-weight: 200;
}

#time-icon {
    width: 15px;
}

#main-ribbon {
    background-color: var(--darkblue);
    padding: 50px 0;
}

/*this is responsive with flex wrap*/
.main-search-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 1400px;
    padding-inline: 50px;
    flex-wrap: wrap;
}

/*the input field is already styled in the reusables section. we only need to set the flex-basis*/
#input-field {
    flex-basis: 250px;
}

.main-search-bar > select,
#search-button {
    flex-basis: 200px;
}

/*----------------5.3. Main recipe -------------------------------------------------------*/

#main-recipe {
    flex-basis: 1400px;
}

/*everything in the title on one line*/
#main-recipe-title > * {
    display: inline-block;
}

#main-recipe-title h1 {
    margin-right: 20px;
}

.icon-recipe {
    width: 15px;
}

/*only for the about page*/
#search-logo {
    width: 100px;
    padding: 15px;
}

/*the picture and button need space between so we put them together in an article*/
#main-recipe article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

/*keep the bullets inside the unordered list */
#main-recipe-ingredients {
    list-style-position: inside;
}

#main-recipe-ingredients li {
    margin-bottom: 5px;
}

/*a table is used for the nutrients*/
#main-recipe-nutrients td {
    padding-right: 5px;
    padding-bottom: 5px;
}

.main-recipe-nutrients-align-right {
    text-align: right;
}

/*make it look more like the screen design*/
#main-recipe-health {
    flex-basis: 700px;
}

#health-labels {
    list-style-type: none;
}

/*style the health labels into labels*/
#health-labels > li {
    display: inline-block;
    background-color: var(--lightblue);
    border-radius: 50px;
    padding: 3px 10px;
    margin-bottom: 5px;
    border: 1px solid var(--darkblue);
}

/*----------------5.4. Main calculator ---------------------------------------------------*/

#main-calculator {
    flex-basis: 1400px;
    align-items: flex-start;
}

#input-field-calorie {
    width: 300px;
    margin-right: 10px;
}

#servings-field,
#servings-button {
    margin-left: 10px;
}

label {
    margin-right: 10px;
}

/*we use tables to show the results*/
#main-calorie-count th,
#main-calorie-count td,
#main-calorie-product th,
#main-calorie-product td {
    padding-right: 50px;
}

/*make a line above the total row*/
.main-calorie-count-line td {
    border-top: 1px solid black;
}

/*in the second, third an last column the text is aligned right*/
#main-calorie-count td:nth-child(2),
#main-calorie-count td:nth-child(3),
#main-calorie-count td:nth-child(4) {
    text-align: right;
}

/*----------------5.5. Footer ------------------------------------------------------------*/

footer {
    background-color: var(--darkblue);
}

/*make the footer responsive*/
footer > section {
    flex-basis: 1400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 30px 0;
    padding-inline: 50px;
    flex-wrap: wrap;
}

/*for the footer we use an unordered list*/
footer > section > ul {
    flex-basis: 250px;
    list-style-type: none;
}

/*all the links have to stay the same color*/
footer > section > ul > li a,
footer > section > ul > li a:visited {
    color: darkgray;
    font-size: var(--font-size1);
    font-weight: 200;
}

.footer-title > h3 {
    color: var(--lightblue);
    margin-bottom: 20px;
}

/*make a circle for the social buttons*/
.footer-icon {
    display: inline-block;
    background-color: var(--lightblue);
    border-radius: 50px;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    padding: 5px;
}

/*place the icons exactly in the middle of the circle*/
.footer-icon img {
    vertical-align: -3px;
    width: 20px;
}

/*----------------6. Animations ----------------------------------------------------------*/

/*spin animation for the loader*/
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*the loader should only show and start spinning after 2 seconds*/
@keyframes show-spin {
    0% {
        border: 0px;
        border-bottom: 0px;
        height: 0px;
        width: 0px;
    }
    100% {
        border: 5px solid rgba(92, 138, 149, 0.5);
        border-bottom: 5px solid var(--lightblue);
        height: 30px;
        width: 30px;
    }
}

.spin {
    position: static;
    height: 0px;
    width: 0px;
    z-index: -1;
}

/*the loader should only show and start spinning after 2 seconds. This wil be added to spinner div.*/
.loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    animation: show-spin 1.5s ease-in-out 2s forwards, spin 2.5s linear 0s infinite;
    background-color: rgba(0, 0, 0, 0.0);
    border-radius: 50%;
    z-index: 900;
}

/*this is the styling for mobile. On mobile the logo may wrap, so we make the height bigger.
this class will be added to header for the page transition animation.*/
.open-page {
    position: absolute;
    height: 70px;
    background-color: var(--lightgrey);
    opacity: 1;
    transition: height 2s ease-in-out, background-color 2s ease-in-out;
}

/*this is for open page animation. this class will be added to nav bar*/
.open-nav {
    transform: scaleY(100%);
    background-color: rgba(0, 0, 0, 0.0);
    flex-basis: 1400px;
}

/*----------------7. Media Queries -------------------------------------------------------*/

@media screen and (min-width: 768px) {
    /*make the nav bar a little smaller on big screen*/
    .open-page {
        height: 50px;
    }

    .main-hero {
        margin-top: 50px;
    }

    nav > ul,
    #main-recipe > article,
    footer > section {
        flex-wrap: nowrap;
    }
}

@media screen and (min-width: 1200px) {

    .main-carousel {
        flex-wrap: nowrap;
        gap: 0;
    }

    .main-search-bar {
        flex-wrap: nowrap;
    }

    .main-result {
        justify-content: space-between;
    }

    .main-result-card {
        flex-basis: 30%;
    }

    .main-carousel-card {
        flex-basis: 33%;
    }

    /*move the carousel over the hero image and make the container smaller*/
    .main-carousel {
        transform: translateY(-20%);
        margin: -50px 0;
    }

    /*the middle card has to pop out, so we make the height bigger with more shadow and z-index*/
    .main-carousel article:nth-child(2) {
        height: 315px;
        z-index: 350;
        box-shadow: 0 10px 200px rgba(0, 0, 0, 0.46);
    }

    /*the image also has to increase, otherwise the text in the card will have to much white space*/
    .main-carousel article:nth-child(2) > a > img {
        object-fit: cover;
        height: 225px;
    }
}

