@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

@font-face {
    font-family: 'Austein';
    src: url('./assets/fonts/Austein/Austein.woff2') format('woff2'),
    url('./assets/fonts/Austein/Austein-Script.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*Table of contents
    1. Global Styles
    2. Reusables
    3. Typography
    4. Layout
    5. Areas
     5.1. Header
     5.2. Main index
     5.3. Main recipe
     5.4. Main calculator
     5.5. Footer
    6. Animations
    7. Media Queries  */

/*----------------1. Global Styles -------------------------------------------------------*/
:root {
    --darkblue: #283E53; /*charcoal*/
    --lightblue: #5C8A95; /*steel teal*/
    --lightgrey: #F3F3F3; /*cultured*/
    --font-size1: 10px;
    --font-size2: 14px;
    --font-size3: 20px;
    --font-size4: 30px;
}

body {
    font-family: Poppins, "Roboto Light", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*----------------2. Reusables -----------------------------------------------------------*/

a,
a:visited,
a:link {
    text-decoration: none;
    color: var(--darkblue);
    text-transform: capitalize;
}

button {
    font-size: var(--font-size2);
    text-transform: capitalize;
    text-align: left;
    color: var(--darkblue);
    background-color: var(--lightblue);
    border: 1px solid var(--darkblue);
    border-radius: 5px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    /*margin: 0 25px;*/
    background-image: url("./assets/icons/thin-arrow-right.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 90%;
    padding-right: 40px;
    cursor: pointer;
}

#servings-button {
    padding-left: 40px;
    padding-right: 15px;
    background-image: url("./assets/icons/plus-line.png");
    background-position: left;
    background-position-x: 10%;
}

button a {
    color: var(--darkblue);
}

select,
input {
    font-size: var(--font-size2);
    border-radius: 5px;
    border: 1px solid var(--darkblue);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 15px;
    appearance: none;
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position: 95%;
    /*background-position-x: 100%;*/
}

input:not(#servings-field) {
    background-image: url("./assets/icons/search.png");
}



select {
    background-image: url("./assets/icons/chevron-down.png");
    background-size: 15px 15px;
}

input::placeholder {
    padding-left: 5px;
}

a:hover,
button:hover {
    cursor: pointer;
}

.main-card-subtitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*----------------3. Typography ----------------------------------------------------------*/

h2 {
    font-family: "Austein", "Lucida Handwriting", cursive;
    text-transform: capitalize;
    /*transform: scale(.5, 1);*/
    font-style: italic;
    /*letter-spacing: -5px;*/
    color: var(--darkblue);
}

h1,
h3,
h4,
h5,
h6 {
    font-family: Poppins, "Roboto Light", sans-serif;
    text-transform: capitalize;
    color: var(--darkblue);
}

h5 {
    font-size: var(--font-size4);
}


/*----------------4. Layout --------------------------------------------------------------*/
main,
header,
footer,
.outer-container {
    width: 100%; /*flex-basis: 100%*/
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.inner-container {
    width: 100%;
    /*flex-basis: 1400px; !*misschien naar 1200px zoals in het schermontwerp*!*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 40px;
    padding: 100px 50px;
    margin-top: 50px;
}


/*----------------5. Areas ---------------------------------------------------------------*/
/*----------------5.1. Header ------------------------------------------------------------*/

header {
    background-color: var(--lightgrey);
    position: fixed;
    height: 100%;
    z-index: 800;
    transition: all 2s ease-in-out;
}

.header-nav {
    flex-basis: 1400px;
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /*flex-wrap: wrap;*/
}

header h1 {
    flex-basis: 200px;
    /*align-self: flex-start;*/
}
nav {
    flex-basis: 300px;
}
nav > ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*----------------5.2. Main index --------------------------------------------------------*/

#main-homepage {
    padding: 0;
}

#main-background-image {
    background-image: url("./assets/images/hero-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*z-index: -100;*/
    /*aspect-ratio: 475/150;*/
}

.main-hero {
    flex-basis: 1400px;
    padding: 100px 50px;
    margin-top: 70px;
    margin-bottom: 70px;
    font-size: 24px;
    /*z-index: -70;*/
}

.main-hero h1,
.main-hero h5 {
    color: var(--lightgrey);
    margin-bottom: 20px;
}

.main-hero h5 {
    font-weight: 100;
}

.main-hero button{
    width: 200px;
}

.main-carousel {
    flex-basis: 1400px;
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*gap: 5px;*/
    align-items: center;
    /*position: relative;*/
    /*top: -50px;*/
    padding-inline: 50px;
    flex-wrap: wrap;

}

.main-carousel-card,
.main-result-card {
    /*flex-basis: 350px;*/
    background-color: var(--lightgrey);
    z-index: 200;
    cursor: pointer;
    flex-basis: 350px;
    display: flex;
    flex-direction: column;
    /*justify-content: flex-end;*/
    border-radius: 2%;
    /*border-collapse: separate;*/
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.16);

}

.main-carousel-card > img,
.main-carousel-card h4,
.main-result-card > img,
.main-result-card > h4 {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.main-carousel-card h4,
.main-result-card > h4 {
    flex-basis: 35px;
    padding: 0 10px;
    margin-top: 20px;
}

.main-carousel-card > img,
.main-result-card > img {
    border-radius: 2% 2% 0 0;
}

.main-carousel-card > div,
.main-result-card > div {
    flex-basis: 35px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
    margin-top: 20px;
}

.main-carousel-card > div p,
.main-result-card > div p{
    font-weight: 200;
}

#time-icon {
    width: 15px;
}



#main-ribbon {
    background-color: var(--darkblue);
    padding: 50px 0;
}

.main-search-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 1400px;
    /*gap: 30px;*/
    padding-inline: 50px;
    flex-wrap: wrap;
}

#input-field {
    flex-basis: 250px;
    background-image: url("./assets/icons/time.png");
}

.main-search-bar > select,
#search-button {
    flex-basis: 200px;
}

.main-result {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 1400px;
    justify-content: space-between;
    gap: 20px; /*40px*/
    cursor: pointer;
    padding: 50px 50px;
}



/*----------------5.3. Main recipe -------------------------------------------------------*/

#main-recipe {
    flex-basis: 1400px;
}

#main-recipe-title > * {
    display: inline-block;
}

#main-recipe-title h1 {
    margin-right: 20px;
}
#search-logo{
    width: 100px;
    padding: 15px;
}
#main-recipe article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

#main-recipe-ingredients {
    list-style-position: inside;
}

#main-recipe-ingredients li {
    margin-bottom: 5px;
}

#main-recipe-nutrients td{
    padding-right: 5px;
    padding-bottom: 5px;
}

.main-recipe-nutrients-align-right{
    text-align: right;
}

#main-recipe-health {
    flex-basis: 700px;
}



#health-labels {
    list-style-type: none;
}

#health-labels > li {
    display: inline-block;
    background-color: var(--lightblue);
    border-radius: 50px; /*50px*/
    padding: 3px 10px;
    margin-bottom: 5px;
    border: 1px solid var(--darkblue);
}


/*----------------5.4. Main calculator ---------------------------------------------------*/

#main-calculator {
    flex-basis: 1400px;
    align-items: flex-start;
}

#input-field-calorie {
    width: 300px;
    /*background: url("./assets/icons/time.png") no-repeat right;*/
    /*background-size: 24px;*/
    /*padding-right: 30px;*/
    margin-right: 10px;
}

#servings-field,
#servings-button {
    margin-left: 10px;
}

label{
    margin-right: 10px;
}

#main-calorie-count th,
#main-calorie-count td,
#main-calorie-product th,
#main-calorie-product td {
    padding-right: 50px;
}

.main-calorie-count-line td{
    border-top: 1px solid black;
}
/*#servings-button {*/
/*    padding-left: 30px;*/
/*    background-image: url("./assets/icons/time.png");*/
/*    background-repeat: no-repeat;*/
/*    background-position: left;*/
/*    background-size: 24px;*/
/*    padding-right: 15px;*/
/*}*/
/*----------------5.5. Footer ------------------------------------------------------------*/

footer {
    background-color: var(--darkblue);
}

footer > section {
    flex-basis: 1400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 30px 0;
    padding-inline: 50px;
    flex-wrap: wrap;
}

footer > section > ul {
    flex-basis: 250px;
    list-style-type: none;
}

footer > section > ul > li a,
footer > section > ul > li a:visited {
    color: darkgray;
    font-size: var(--font-size1);
    font-weight: 200;
}

.footer-title > h3 {
    color: var(--lightblue);
    margin-bottom: 30px;
}

.footer-icon {
    display: inline-block;
    background-color: var(--lightblue);
    border-radius: 50px; /*50px*/
    margin-right: 10px;
    width: 30px;
    height: 30px;
    padding: 5px;
}

.footer-icon img{
    vertical-align: -3px;
    width: 20px;
}

/*----------------6. Animations ----------------------------------------------------------*/

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spin {
    position: static;
    background-color: yellow;
    height: 0;
    width: 0;
    z-index: 700;
}

.loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    animation: spin 2.5s linear 2s infinite;
    background-color: rgba(0,0,0,0.0);
    height: 30px;
    width: 30px;
    border: 5px solid rgba(92,138,149,0.5);
    border-bottom: 5px solid var(--lightblue);
    border-radius: 50%;
}

.open-page{
    position: absolute;
    /*height: 7vh;*/
    height: 70px;
    /*min-height: 50px;*/
    /*max-height: 50px;*/
}

/*----------------7. Media Queries -------------------------------------------------------*/


@media screen and (min-width: 768px) {
    .open-page{
        height: 50px;
    }

    .main-hero {
        margin-top: 50px;
    }

    nav > ul,
    .main-carousel,
    #main-recipe > article,
    footer > section {
        flex-wrap: nowrap;
    }

}

@media screen and (min-width: 1200px) {
    .main-hero,
    .main-carousel,
    .main-search-bar,
    .main-result,
    .inner-container,
    footer > section {
        padding-inline: unset;
    }

    .main-search-bar {
        flex-wrap: nowrap;
    }

    .main-result-card {
        flex-basis: 30%;
    }

    .main-carousel-card {
        flex-basis: 33%;
    }

    .main-carousel {
        transform: translateY(-20%);
        /*gap: unset;*/
    }

    .main-carousel > article:nth-child(2) {
        background-color: var(--lightgrey);
        height: 120%;
        z-index: 350;
        box-shadow: 0 50px 200px rgba(0, 0, 0, 0.16);
    }

    .main-carousel article:nth-child(2) > img {
        height: 100%;
    }
}

